@charset "utf-8";

main{ padding-top: 1.7rem;}

/* kv
---------------------------------------------*/
.kv{ position: relative;}
.hBox{
    text-align: center;
    line-height: 1;
    background-color: #ffffff;
    padding: 2rem 0.5rem 1.8rem 0.5rem;
    position: absolute;
    left: 45%;
    bottom: 60%;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 65%;    
    max-width: 650px;
}
.hBox:after{
	content: ''; display: block;
	width: 3.2rem; height: 1px;
	background-color: #aaaaaa;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	position: absolute;
	top: 15%;
	left: -3rem;
	z-index: 991;
}
h2{
    font-size: 0.9rem;
    letter-spacing: 0.1em;
    font-family: Arial;
    font-weight: 600;
    margin-bottom: 0.2rem;
    overflow: hidden;
}
h3{
    font-size: 0.6rem;
    letter-spacing: 0.2em;
    font-family: kozuka-gothic-pr6n, sans-serif;
    font-style: normal;
    font-weight: 200;
    overflow: hidden;
}
.kvTent{
	position: relative;
	height: 14.2rem;
	overflow: hidden;
}
.kvTent:before{
	content: ''; display: block;
	width: 30%; height: 105%;
	background-color: #ffffff;
	position: absolute;
	top: -5%;
	left: 0;
	z-index: 990;
}
.psText{
    font-size: 0.24rem; line-height: 1;
    font-family: Arial;
    font-weight: 600; letter-spacing: 0.4em;
    color: #ffffff;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    z-index: 999;
    left: 1.1rem;
    -webkit-transition: 0.3s 0.2s;
    transition: 0.3s 0.2s;
}
a.kv_anc{
	font-size: 0.28rem; line-height: 1;
	color: #ffffff;
	letter-spacing: 0.2em;
	position: absolute;
	top: calc(50% + 2.5rem);
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 99;
	text-shadow: 0 0 15px rgba(0,0,0,0.9);
}
a.kv_anc img{
	width: 1.12rem; max-width: 56px;
	margin: 0 auto 0.2rem auto;
	-webkit-animation: ancDown 0.6s ease-in infinite alternate;
	animation: ancDown 0.6s ease-in infinite alternate;
}

@-webkit-keyframes ancDown{
    0%{
        -webkit-transform: translateY(-30%);
        transform: translateY(-30%);
    }
    100%{
        -webkit-transform: translateY(5%);
        transform: translateY(5%);
    }
}

@keyframes ancDown{
    0%{
        -webkit-transform: translateY(-30%);
        transform: translateY(-30%);
    }
    100%{
        -webkit-transform: translateY(5%);
        transform: translateY(5%);
    }
}

/** 視差物件 ********************************************************** start */
.layer{
	position: absolute;
	top: 0; left: 0;
	height: 100%;
	width: 100%;
	z-index: 99;
}
.kvImg{
	width: auto;
	height: 110%;
	position: absolute;
	right: -20%; top: 55%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.kvImg img{
	width: auto;
	height: 105%;
}
.slashes{
	font-size: 1.54rem; line-height: 1;
	font-weight: 200;
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	letter-spacing: 0.2em;
	color: #ffffff;
	position: absolute;
	right: -0.4em;
	bottom: 20%;
}
.wCube{
	width: 20%;
	height: 1.6rem;
	background-color: #ffffff;
	position: absolute;
	top: calc(100% - 0.4rem);
	right: -2%;
}
.wCube02{
	width: 40%;
	height: 0.6rem;
	background-color: #ffffff;
	position: absolute;
	top: 14%;
	left: 0;
}


/** 視差物件 ********************************************************** end */


















