@font-face{
    font-family:'FontAwesome';
    src:url('../fonts/fontawesome-webfont.eot');
    src:url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fontawesome-webfont.woff') format('woff'),
        url('../fonts/fontawesome-webfont.ttf') format('truetype'),
        url('../fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}

i{ font-style: normal;}
a:hover i:before{ color: inherit;}
.icon:before{
    font-family: "FontAwesome";
    color: inherit;
    font-size: inherit;
    speak: none;
}
.icon_fb:before{ content: "\f09a";}
.icon_instagram:before{ content: "\f16d";}
.icon_youtube:before{ content: "\f167";}
.icon_mail:before{ content: "\f0e0";}
.icon_search:before{ content: "\f002";}
.icon_angleDown:before{ content: "\f107";}
.icon_angleUp:before{ content: "\f0d8";}
.icon_angleR:before{ content: "\f054";}
.icon_angleL:before{ content: "\f053";}
.icon_triangleR:before{ content: "\f0da";}
.icon_play:before{ content: "\f04b";}
.icon_cross:before{ content: "\f00d";}
.icon_play:before{ content: "\f01d";}
