/* media
----------------------------------------------------------------------------*/
/* 各解析度原始單位 */
@media screen and (min-height: 540px) {
    .wrapper{ min-height: 480px;}
}
@media screen and (max-width: 1160px) {
    body,html{ font-size: ;}
}
@media screen and (max-width: 1080px) {
    body,html{ font-size: ;}
}
@media screen and (max-width: 1024px) {
    body,html{ font-size: ;}    
}
@media screen and (max-width: 980px) {
}
@media screen and (max-width: 768px) {
    body,html{ font-size: ;}
    .pc{ display: none;}
    .mobile{ display: block;}
}
@media screen and (max-width: 640px) {
    body,html{ font-size: ;}
}
@media screen and (max-width: 585px) {
    body,html{ font-size: ;}   
}
@media screen and (max-width: 480px) {
    body,html{ font-size: ;}
    
}
@media screen and (max-width: 320px) {
    body,html{ font-size: ;}
}