<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no" />
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">


	<title>ISLAND's Collection</title>

	<meta name="keywords" content="Island,collection,design,godzilla" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="ISLAND's Collection" />
	<meta property="og:url" content="https://islandpeng.github.io" />
	<meta property="og:description" content="Welcome to Island's collection website." />
	<meta name="description" content="Welcome to Island's collection website." />


	<!-- FB 社群圖片 -->
	<meta property="og:image" content="https://islandpeng.github.io/images/fb.jpg" />
	<link rel="image_src" href="https://islandpeng.github.io/images/fb.jpg" />
	<!-- 頁籤 icon -->
	<link href="images/favicon.ico" rel="shortcut icon" />
	<link href="images/favicon.ico" rel="icon" type="image/x-icon" />


	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/layout_css.css">
	<link rel="stylesheet" type="text/css" href="css/page_css.css">
	<link rel="stylesheet" type="text/css" href="css/css_graphic.css">
	<link rel="stylesheet" type="text/css" href="css/layout_m_css.css">
	<link rel="stylesheet" type="text/css" href="css/m_css_graphic.css">
	<link rel="stylesheet" type="text/css" href="css/icon.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.8/swiper-bundle.min.css">
	

	<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page">
	<div class="loadingBox withVue flexBox">
		<div class="beforeLine"></div>
		<div class="afterLine"></div>
		<div class="loadImg ldI01">
			<img src="images/Island_studio_cht.svg" alt="Island studio">
		</div>
		<div class="loadImg ldI02">
			<img src="images/Island_studio.svg" alt="Island studio">
		</div>
		<div class="loadTxt">DESIGN BY<br />ISLAND</div>
	</div>
	<div class="wrapper" id="graphic">
		<div class="contentBord">
			<header>
				<nav>
					<div class="navBox">
						<ul>
							<li><a href="index.html">Homepage</a></li>
							<li><a href="profile.html">Profile</a></li>
							<li><a class="active" href="javascript:;">Graphic</a></li>
							<li><a href="business.html">Business</a></li>
							<li><a href="website.html">Website</a></li>
							<li><a href="film.html">Film Editing</a></li>
							<li><a href="godzilla.html" title="Godzilla Gallery"><img src="images/nav_godzilla.png"
										alt="Godzilla Gallery"></a>
							</li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
						<div class="socialBox">
							<a href="https://www.facebook.com/islandesigner" target="_blank" class="flickrLink">
								<img src="images/icon_fb_black.png" alt="Island's Facebook">
							</a>
							<a href="mailto:ink.islandp@gmail.com" class="igLink">
								<img src="images/icon_mail_black.png" alt="Island's Email">
							</a>
						</div>
					</div>
				</nav>
				<div class="navBtn">
					<div class="orgCube flexBox"><span></span></div>
					<div class="greyCube"></div>
				</div>
			</header>
			<main>
				<div class="kv">
					<div class="kvTent" id="scene">
						<div class="layer" data-depth="0.00"></div>
						<div class="layer forKV" data-depth="0.3">
							<div class="kvImg"><img src="images/graphic/kv_graphic.png" alt="Island Peng Design"></div>
						</div>
						<div class="layer" data-depth="0.15">
							<div class="slashes">/////</div>
						</div>
						<div class="layer" data-depth="0.05">
							<div class="wCube"></div>
						</div>
						<div class="psText">PHOTOSHOP</div>
						<a href="#masonryBox" class="anchor kv_anc">
							<img src="images/graphic/kv_arrow.png" alt="VIEW MORE">
							VIEW MORE
						</a>
					</div>
					<div class="hBox">
						<h2>
							<p>GRAPHIC DESIGN</p>
						</h2>
						<h3>
							<p>COLLECTION</p>
						</h3>
					</div>
					<div class="socialLinkBox flexBox">
						<a href="mailto:ink.islandp@gmail.com" class="igLink">
							<img src="images/icon_mail_black.png" alt="Island's Email">
						</a>
						<a href="https://www.facebook.com/islandesigner" target="_blank" class="flickrLink">
							<img src="images/icon_fb_black.png" alt="Island's Facebook">
						</a>
					</div>
				</div>
				<div class="masonryBox" id="masonryBox">
					<div class="container">
						<div class="m_flexBox">
							<h4>GRAPHIC</h4>
							<div class="lineNum flexBox">
								<a href="javascript:;" class="lineBtn line1 mobile" data-line="100%"><img src="images/line1.svg" alt="display 1 pic" @click="changeRow(1);">
								</a>
								<a href="javascript:;" class="lineBtn line3" data-line="33.3333%" @click="changeRow(3);"><img src="images/line3.svg" alt="display 3 pic"></a>
								<a href="javascript:;" class="lineBtn line5 pc" data-line="20%" @click="changeRow(5);"><img src="images/line5.svg" alt="display 5 pic"></a>
							</div>
						</div>
						<div class="tabBox flexBox">
							<div class="workTab" :class="{active: categ.active}" v-for="(categ, cid) in category" @click="changeTabBox($event, cid);">
								<span :data-pictype="'.box'+cid">{{categ.cateName}}</span>
							</div>
						</div>
						<div class="gridBlock">

							<!-- 瀑布流 -->
							<div class="gridBox" :class="[{show: imgBox.active}, 'box'+cid]" v-for="(imgBox, cid) in category">
								<div class="masonryDiv grid" :data-sd="'.sd'+cid" v-if="imgBox.loading">
									<div class="grid-item sliderImg" v-for="(img, index) in imgBox.imgList" @click="popUpShow(index);">
										<div>
											<img :src="img.imgUrl" :alt="img.imgAlt" :title="img.imgAlt">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="lightSlideBox" v-if="tabIndex!=null">
						<div class="flexBox">
							<div class="slideMsk"></div>
							<div class="sliderBox">
								<div class="SD swiper-container">
									<div class="slider swiper-wrapper">
										<div class="swiper-slide" v-for="(img, index) in category[tabIndex].imgList">
											<img :src="img.imgUrl" alt="img.imgAlt">
										</div>
									</div>
									<div class="swpBtnBox">
										<a href="javascript:;" class="swpB_L"></a>
										<a href="javascript:;" class="swpB_R"></a>
									</div>
								</div>
								<a href="javascript:;" target="_blank" class="newTabBtn"><img src="images/img_newTab.png" alt=""></a>
								<div class="designBox">
									<div class="picName">PHOTOGRAPHY NAME</div>
									<div class="lbDesigner">DESIGN BY ISLAND</div>
								</div>
								<div class="annoBox flexBox">
									<span class="nowPage">1</span>
									<span class="allPage">/{{category[tabIndex].imgList.length}}</span>
									<div class="slashSH">////</div>
								</div>
								<a href="javascript:;" class="closeBtn" @click="popUpClose();"></a>
							</div>
						</div>
					</div>
				</div>
			</main>
			<footer>
				<div class="container">
					<div class="footLink flexBox">
						<a href="https://www.facebook.com/islandesigner" target="_blank" class="flickrLink">
							<img src="images/icon_fb_black.png" alt="Island's Facebook">
						</a>
						<a href="mailto:ink.islandp@gmail.com" class="igLink">
							<img src="images/icon_mail_black.png" alt="Island's Email">
						</a>
					</div>
					<div class="rightBox">Copyright © {{footerYear}} INK.ISLAND. <span class="inblock">All rights reserved</span></div>
					<div class="designer">DESIGN BY ISLAND</div>
				</div>
			</footer>
			<div class="goTopBtn"><a href="#masonryBox" class="anchor"><img src="images/icon_goTop.png" alt="回頂端"></a></div>
			<div class="blurMask"></div>
		</div>
	</div>

	<script type="text/javascript" src="js.lib/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"></script>
	<script type="text/javascript" src="js.lib/TweenMax.min.js"></script>
	<script type="text/javascript" src="js.lib/modernizr-custom.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.8/swiper-bundle.min.js"></script>
	<script type="text/javascript" src="js.lib/jquery.parallax.js"></script>
	<script type="text/javascript" src="js.lib/imagesloaded.pkgd.min.js"></script>
	<script type="text/javascript" src="js.lib/masonry.pkgd.min.js"></script>
	<script type="text/javascript" src="js/graphic.js"></script>
	<script type="text/javascript" src="js/layout.js"></script>
	<script type="text/javascript" src="js/page.js"></script>

</body>

</html>